<div class="app-container">
  <h1>Company Employee Hierarchy</h1>
  <table cellspacing="0" cellpadding="10em" class="employee-table">
    <tr>
        <td>name1</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td>name2</td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td>name3</td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td>name4</td>
    </tr>

    <tr>
        <td></td>
        <td>name5</td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td>name6</td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td>name7</td>
    </tr>
  </table>
</div>


